:root {
  font-size: 16px;
  --royal-blue-light: #404eed;
  --royal-blue-dark: #3946d4;
  --white: #fff;
  --backgroud: #e2e3e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--backgroud);
}

a {
  color: var(--white);
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--royal-blue-light);
  height: 4.6875rem;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu a:hover {
  background: var(--royal-blue-dark);
}

.label-menu,
.checkbox {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: var(--royal-blue-light);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
  .label-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
  }
  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  .checkbox:checked ~ .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  .checkbox:checked ~ .label-menu .hamburger {
    border-top-color: transparent;
  }
  .checkbox:checked ~ .label-menu .hamburger::before {
    transform: rotate(135deg);
  }
  .checkbox:checked ~ .label-menu .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
}
